<div id="main">
  <h1>About</h1>
  <p>
    <ul>
      <strong>About producing Other People's Business:</strong>
      <li>This comic updates three times a week: Monday, Wednesday, and Friday.</li>
      <li>In addition, you can go to the forums to get the cartoonist's commentary and chat about the comic, or if you have a livejournal, you can subscribe to the OPB community and get notices on the updates and the commentary.</li>
      <li>I'm not the best artist in the world, but I like practicing and playing with new techniques. I hope the art will be fairly consistent within each issue, but the styles may differ from issue to issue.</li>
      <li>The comic is divided into issues of anywhere from 20 – 28 pages. Print editions will be available, and will collect five to six issues. They will be available for purchase in the OPB store.</li>
    </ul>
  </p>
  <p>
    <ul>
      <strong>About the story in Other People's Business:</strong>
      <li>What is the story about? After a tragic event, down-on-her-luck Daniela "Danny" Alvarez is being coaxed back into a life of normality by her best friend, sensible sous chef Mercedes, when a smart-mouthed sleazy little thief bursts through Danny's window and drags her into a world full of conspiracies, cults, and evil corporations, and accidentally gets Danny on the road to feeling human again.</li>
      <li>My attempt is to make a comic that is funny and interesting. However, if you are the sort of person who requires happy endings for everyone, this is not a comic you should be reading as it will not fulfill that requirement.</li>
      <li>The characters are lying to you.</li>
      <li>The beliefs of the characters are not meant to mirror my own beliefs, or the beliefs of anyone in particular; they are simply meant to make for an interesting fictional story.</li>
    </ul>
  </p>
  <p>
    <ul>
      <strong>Other stuff:</strong>
      <li>Before this comic, I made <a href="http://friendlyhostility.com/">Friendly Hostility</a>. The art and story are a bit rough toward the beginning, but overall I think it's pretty okay. It features some of the minor characters from this comic as main characters, and is significantly lighter in tone as well as generally cuter. You might be surprised to see how some of the characters appearing here got their start.</li>
      <li>I also make the comic <a href="http://5ideways.com/">5ideways</a>, which is currently on hiatus. I hope to get back to it someday. The story in Other People's Business does not lead to the story in 5ideways, or vice versa.</li>
      <li>You can call me Sandra. I'm the cartoonist. To contact me, you can email <script type="text/javascript" language="javascript">
      <!--
      ML="@fw< :dts.mh=/nloc>\"riaek";
      MI="3F4;DG1<C:FE?7@58F>6DF08>FHG2E1G9A@:CB8F>6DF08>FHG2E1G9A@:3=FB";
      OT="";
      for(j=0;j<MI.length;j++){
      OT+=ML.charAt(MI.charCodeAt(j)-48);
      }document.write(OT);
      // --></script>. Making comics is my hobby. I like really bad B-movies and dislike when people chew with their mouths open.</li>
    </ul>
  </p>
</div>
