<div id="castlist">
  <h1>The cast</h1>
  <table cellspacing="0" cellpadding="0" summary="A list of characters featured in the comic">
    <tr>
      <td style="border: 0">
        <img class="left" src="/images/cast/danny.png" alt="Danny" title='Daniela "Danny" Alvarez' />
        <h2>Daniela "Danny" Alvarez</h2>
        <p>Maybe <em>Daniela "Danny" Alvarez</em> didn't care about that whole "being alive" thing anymore, but after what she went through, can you blame her?  Her outlook changes when sleazy thief Hilary crashes through her window, and now Danny's found the one thing that can wake her up from her daze: curiosity. There are a hell of a lot of mysteries out there, and she's determined to seek out the truth, especially about this Creed Corporation.</p>
      </td>
    </tr>
    <tr class="alt">
      <td>
        <img class="right" src="/images/cast/mercedes.png" alt="Mercedes" title="Mercedes Nieves" />
        <h2>Mercedes Nieves</h2>
        <p><em>Mercedes Nieves</em> is frustrated that after all her efforts at getting long-time friend Danny back to normal, Danny's started chasing down mysteries with a trashy little thief. Mercedes is sous chef for the prestigious Pamplemousse restaurant, where she flirts with the business manager in wistful hope of one day winning his heart. She balances practicality with an exuberant joy in all conventionally girly things, and although deeply religious, she considers herself a sexually liberated modern woman.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="left" src="/images/cast/hilary.png" alt="Hilary" title="Hilary Donovan" />
        <h2>Hilary Donovan</h2>
        <p>Thanks to being raised by Sid's Traveling Collection of Oddities, <em>Hilary Donovan</em> has been a magician, a knife-thrower, and a chainsaw juggler. Currently, her income comes from purse-snatching, car-thieving, and pocket-picking. Hilary has an unfortunate penchant for the Wrong Woman. At 32, Hilary has realized that getting by in life by any means necessary has left her alone – but at least, now that she's met Danny, she has a drinking buddy.<p>
      </td>
    </tr>
    <tr class="alt">
      <td>
        <img class="right" src="/images/cast/frida.png" alt="Frida" title="Frida Knoxville" />
        <h2>Frida Knoxville</h2>
        <p><em>Frida Knoxville</em> prefers the term 'lush' to 'alcoholic,' but really, either will do. Danny's ex-stepmother, Frida and Danny get along better now than they ever did while Frida was married to Danny's father. Frida is a disgraced police officer, prone to violence and cynicism.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="left" src="/images/cast/hathaway.png" alt="Mr. Hathaway" title="Morris Hathaway" />
        <h2>Morris Hathaway</h2>
        <p><em>Morris Hathaway</em> is a former bad boy trying very hard to make good. He works at Pamplemousse, his mom's restaurant. Officially, he handles the business aspects; unofficially, he makes sure that the employees' various neuroses are kept in check. Much put-upon, but secretly enjoys it.</p>
      </td>
    </tr>
    <tr class="alt">
      <td>
        <img class="right" src="/images/cast/robbie.png" alt="Robbie" title="Robbie Ferreri" />
        <h2>Robbie Ferreri</h2>
        <p><em>Robbie Ferreri</em> is a contradiction. Under the friendly guy-next-door exterior lies a shrewd businessman, famed author, and savage food critic. He's easy to talk to and makes a point to listen and slot the information away for future use. He's divorced and gets to see his daughters every weekend.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="left" src="/images/cast/fox.png" alt="Fox" title="Fox Maharassa" />
        <h2>Fox Maharassa</h2>
        <p>Danny's neighbor, former reporter <em>Fox Maharassa</em>, has been described as tall, dark, and dorky. Fox has a personal vendetta against the Creed Corporation and is more than happy to help anyone who wants to bring them down. He has the power to melt ice with a well-placed sparkling grin.</p>
      </td>
    </tr>
    <tr class="alt">
      <td>
        <img class="right" src="/images/cast/pamplemousse.png" alt="Pamplemousse Staff" title="The rest of the Pamplemousse staff" />
        <h2>The rest of the Pamplemousse staff</h2>
        <p>Meet the rest of the <em>Pamplemousse Staff</em>. While emo-guy Ashleigh and aggressive Montserrat are competing with Mercedes for owner Dixie's approval, mellow Odette is content just to make pastries, and Jaime waits for a better job to come along.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="left" src="/images/cast/leon.png" alt="Leon" title="Leon Ratterly" />
        <h2>Leon Ratterly</h2>
        <p><em>Leon Ratterly</em> is a loving husband, doting father, and an errand boy for the Creed Corporation. Said errands may involve causing distress and/or death.  He loves his job, as it gives him time to pick up his daughter from school and still make an apple pie for his mother in law.</p>
      </td>
    </tr>
    <tr class="alt">
      <td>
        <img class="right" src="/images/cast/creed.png" alt="Board of advisors" title="The Creed Corporation's Board of Advisors" />
        <h2>The Creed Corporation's Board of Advisors</h2>
        <p><em>The Creed Corporation's Board of Advisors</em> thinks you should let them rule the world, citing that they're better than the alternative. Considering that they're a greedy, power-hungry bunch, each with their own motives and goals, one wonders just how bad the alternative is.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="left" src="/images/cast/bart.png" alt="Mad Bart" title="Mad Bart" />
        <h2>Mad Bart</h2>
        <p>A drifter who joined up with Sid's show, <em>Mad Bart</em> serves as a general handyman and mechanic. He gouged out his own eyes but doesn't seem to miss them much. Danny thinks he enjoys manipulating people through fear; Bart says he just enjoys a good Skynyrd deep cut.</p>
      </td>
    </tr>
  </table>
</div>
