<div id="main" class="center">
  <h1>Fanart</h1>
  <p>Send your Other People's Business fanart, as well as other fanworks, to <script type="text/javascript" language="javascript">ML=" :<o>.tpahek@w=rlfbmi/s\"un";MI="2809?:A>GC8D@631A8I=3?;F<369:?7:37@:FBHFDI:FF5I:6G4A8I=3?;F<369:?7:37@:FBHFDI:FF5I:62E84";OT="";for(j=0;j<MI.length;j++){OT+=ML.charAt(MI.charCodeAt(j)-48);}document.write(OT);</script>!</p>
  <p>In time, some of the work will be displayed here, as well.</p>
</div>
