<div id="main">
  <h1>Links</h1>
  <div id="links">
    <ul>
      <li><a href="http://www.snakewife.com/" class="link">Snakewife</a>: My own website.</li>
      <li><a href="http://forums.snakewife.com/" class="link">The Snakewife's Forum</a>: As per above, my own forum.</li>
      <li><a href="http://www.friendlyhostility.com/" class="link">Friendly Hostility</a>: The comic that preceded OPB.</li>
      <li><a href="http://www.5ideways.com/" class="link">5ideways</a>: This is my other comic. Very much unlike FH and OPB, currently on hiatus.</li>
    </ul>
    <ul>
      <strong>Other Things:</strong>
      <li><a href="http://www.poseurink.com/" class="link">Poseur Ink</a>: They will be publishing OPB in print.</li>
    </ul>
    <ul>
      <strong>Other Web Comics:</strong>
      <li><a href="http://www.elsiehooper.com/" class="link">Elsie Hooper</a></li>
      <li><a href="http://www.forthewicked.net/" class="link">No Rest for the Wicked</a></li>
      <li><a href="http://www.gunnerkrigg.com/" class="link">Gunnerkrigg Court</a></li>
    </ul>
  </div>
</div>
